*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aliceblue;
    max-width: 100%;
    margin: 10px;
    padding: 0 10px;
    font-size: 12px;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/*  --------- HEADER ----------- */

.header{
    
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    
}

.header-logo{
    
    padding-top: 10px;
    justify-content: flex-end;
}

.header-logo h2{
    display: inline-block;
    
}

.header-nav{
    
    margin: 20px;
    padding: 10px;
    font-family: 'hind madurai';
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.header-nav ul li {
    
    flex-direction: row;
    display: inline-block;
    padding-top: 10px;
}

.header a{
    text-decoration: none;
    color: #000;
    padding: 20px;
}

.header a:hover{
    background-color: burlywood;
    font-weight: bold;
}